@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/b7f2642f88458f9332ede5312b543473.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/590754e07a9a931b1c9d08f873cf4dfb.ttf') format('truetype');
}
